* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle, white, #f5a6e6, #fe5d9f);
}

/* universal styles above*/
@media (max-width: 640px) {
  /* styles for small screens */
  .welcome-message img {
    width: 100px;
    height: 300px;
  }
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  animation: appear 4s ease-in-out;
  align-items: center;
}

.fade-out {
  opacity: 0;
  transform: scale(0);
}

h1 span {
  font-family: cursive;
  font-size: 70px;
}
h1 {
  font-size: 70px;
  color: #001d4a;
  font-family: cursive;
}

.welcome-message button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: none;
  background: #190933;
  color: white;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  transition: background 0.3s ease;
  box-shadow: 5px 20px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.welcome-message button:hover {
  background: #fe5d9f;
  color: #001d4a;
}

.welcome-message img {
  width: 200px;
  height: 400px;
}

/* universal styles above*/
@media (max-width: 640px) {
  /* styles for small screens */
  .welcome-message img {
    width: 200px;
    height: 250px;
  }

  .welcome-message h1,
  .welcome-message span {
    font-size: 40px;
  }
}

/* index page css above */

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* aninations above */

.passwordGrid,
.passwordGrid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 10px;
  /* row-gap: 5px; */
}
.passwordGrid button,
.passwordGrid2 button {
  border: none;
  display: inline-block;
  background-color: #190933;
  color: #ef99df;
  font-size: large;
  width: 80px;
  padding: 2px;
  border-radius: 16px;
  height: 50px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.Access-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: appear 4s ease-in-out;
}
.passwordGrid button:hover,
.passwordGrid2 button:hover {
  background: #fe5d9f;
  color: #001d4a;
  cursor: pointer;
  transform: scale(1.3);
}
.hidden {
  display: none;
}

#accessGrantedBox,
#accessGrantedBox2 {
  background-color: #4caf50;

  border-radius: 16px;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out;
}

.container1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acess-h1 {
  display: inline-block;
  width: 200px;
  font-size: 16px;
  text-align: center;
  font-weight: 900;
  margin-left: 20px;
  margin-top: 10px;
}

.container1 input {
  text-align: center;
  font-size: 16px;
  height: 2em;
  width: auto;
  border-radius: 16px;
  color: #001d4a;
  border: none;
  box-shadow: 12px 12px 0px 0.01;
}
#question-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out;
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: appear 4s ease-in-out;
}
#options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#options button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background: #c1121f;
  color: white;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  transition: background;
}
.question-box h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.question-box button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background: #c1121f;
  color: white;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  transition: background;
}
.question-box button:hover {
  background: #8ffcff;
  color: #c1121f;
}
.center {
  display: flex;
  justify-content: center;
}
#question-container.fade-out {
  opacity: 0;
  transform: scale(0);
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: appear 3s ease-in-out;
}
.menuGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 24px;
  transition:
    opacity 2s ease-in-out,
    transform 2s ease-in-out;
}

.menus {
  display: none;
}

.right {
  margin-left: 20px;
}
.menu {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  border: none;
  background: #190933;
  color: white;
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  transition: background;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.menu:hover {
  background: #ef99df;
  color: #190933;
  transform: scale(1.2);
  padding: 10px 10px;
}
.menu img {
  position: relative;
  left: 10px;
  top: 3.5px;
}
.menu:nth-child(3) img,
.menu:nth-child(4) img,
.menu:nth-child(5) img,
.menu:nth-child(6) img {
  position: relative;
  top: -10px;
  left: -10px;
}
@media (max-width: 640px) {
  .menuGrid {
    grid-template-columns: 1fr;
    overflow-y: scroll;
  }
  .menus {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    display: block;
  }

  .menu:hover {
    transform: none;
    background: #190933;
    color: white;
  }
  .container3 {
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
/* menu page style */

@keyframes disappear {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
.fade-out1 {
  opacity: 0;
  transform: scale(0);
}
