body{
    background:radial-gradient(circle, white,#8ffcff, white);
    width: 100vw;
    height: auto;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

#imageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation: appear 3s ease-in-out;
    gap: 5px;
}
@keyframes appear {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
#imageContainer div{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: none;
    background: #c1121f;
    color:white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    margin-top: 20px;

}
h1{
    font-size: 30px;
    font-weight: 500;
    color: #c1121f;
    font-family: cursive;
    text-align: center;

}

#imageContainer div:hover{
    transform: scale(1.1);
}
.container{
    width: 95%;
    margin: 0 auto;
}


.Qoute-container{
    animation: appear 3s ease-in-out;
    width: 75%;
  
    margin: 0 auto;
}
.Qoute-container h1{
    text-align: center;
    font-size: 30px;
    font-weight: 500;

}

.qoutes{
    background-color: #c1121f;
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
}

.Qoute-container h1:nth-of-type(2) {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
.videos-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation: appear 3s ease-in-out;
    gap: 5px;
    margin-top: 40px;
}
.videos-container div{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: none;
    color:white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    margin-top: 20px;
}

.videos-container div:hover{
    transform: scale(1.1);


}